<header><%= link_to 'Go to Shelters', '/shelters' %> <%= link_to 'Go to Pets', '/pets' %></header>

<h1><%= @shelter.name %></h1>

<h2><a href="/shelters/<%= "#{@shelter.id}" %>/pets">See our pets!</a></h2>
<p><%= "Name: #{@shelter.name}" %></p>
<p><%= "Address: #{@shelter.address}" %></p>
<p><%= "City: #{@shelter.city}" %></p>
<p><%= "State: #{@shelter.state}" %></p>
<p><%= "Zip Code: #{@shelter.zip}" %></p>
<a href="/shelters/<%= @shelter.id %>/edit">Edit</a>
<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>

<h2><%= "#{@shelter.name}'s Reviews" %></h2>

<% @shelter.reviews.each do |review| %>
  <section>
    <h4><%= "#{review.title}" %></h4>
    <p><%= "Reviewed by #{review.user.name}" %>
    <p><%= "#{review.rating}/5" %>
    <p><%= "#{review.content}" %><br><br>
    <% if review.image != nil %>
      <a href="/pets/<%= "#{review.id}" %>"><img src="<%= review.image %>" style="height:150px;"></a>
    <% end %>
  </section>
<% end %>
