<h1><%= @shelter.name %></h1>

<p><%= "Name: #{@shelter.name}" %></p>
<p><%= "Address: #{@shelter.address}" %></p>
<p><%= "City: #{@shelter.city}" %></p>
<p><%= "State: #{@shelter.state}" %></p>
<p><%= "Zip Code: #{@shelter.zip}" %></p>
<a href="/shelters/<%= @shelter.id %>/edit" name="Edit">Edit</a>
