<h1><%= "Pets at #{@shelter.name}" %></h1>
<h3><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %></h3><br>

<% shelter_pets = @shelter.pets.select do |pet| %>
  <% pet.shelter == @shelter %>
<% end %>
<% shelter_pets.each do |pet| %>
  <section>
    <a href="/pets/<%= "#{pet.id}" %>"><img src="<%= pet.image %>" style="height:250px; width:300px;"></a>
    <h2><a href="/pets/<%= "#{pet.id}" %>"><%= "#{pet.name.capitalize}" %></a></h2>
    <p>Approximate Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <%= link_to "Edit Pet", "/pets/#{pet.id}/edit"%>
    <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %><br><br><br><br>
  </section>
<% end %>
