<header><%= link_to 'Go to Shelters', '/shelters' %></header>

<h1>Pets</h1>

<% @pets.each do |pet| %>
  <a href="/pets/<%= "#{pet.id}" %>"><img src="<%= pet.image %>" style="height:250px; width:300px;"></a>
  <h2><a href="/pets/<%= "#{pet.id}" %>"><%= "#{pet.name.capitalize}" %></a></h2>
  <p><%= "Approximate Age: #{pet.age}" %></p>
  <p><%= "Sex: #{pet.sex}" %></p>
  <p>Shelter: <a href="/shelters/<%= "#{pet.shelter_id}" %>"><%= "#{pet.shelter.name}" %></a></p>
  <a href="/pets/<%= "#{pet.id}" %>">Edit Pet</a>
  <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %><br><br><br><br>
<% end %>
