<header><%= link_to 'Go to Shelters', '/shelters' %> <%= link_to 'Go to Pets', '/pets' %></header>

<h1><%= "#{@user.name}" %></h1>

<p>Name: <%= "#{@user.name}" %></p>
<p>Address: <%= "#{@user.address}" %></p>
<p>City: <%= "#{@user.city}" %></p>
<p>State: <%= "#{@user.state}" %></p>
<p>Zipcode: <%= "#{@user.zip}" %></p>
