<%= form_tag "/shelters/#{@shelter.id}" do %>
  <p><%= label_tag :title %></p>
  <%= text_field_tag :title %>
  <p><%= label_tag :rating %></p>
  <%= number_field_tag :rating %>
  <p><%= label_tag :content %></p>
  <%= text_field_tag :content %>
  <p><%= label_tag :image %></p>
  <%= text_field_tag :image %>
  <p><%= label_tag :username %></p>
  <%= text_field_tag :username %>

  <%= submit_tag "Create Review" %>
<% end %>
